<form action="/new" method="POST">
  <input type="text" name="ruc"></input>
  <input type="text" name="nombre"></input>
  <input type="submit"></input>
</form>


  <table>
    <thead>
      <td>RUC</td>
      <td>Empresa</td>
      <td>Estado</td>
      <td>Domicilio</td>
    </thead>
    <tbody>
{% for item in items %}
      <tr>
        <td>{{ item.ruc }}</td>
        <td>{{ item.nombre_o_razon_social }}</td>
        <td>{{ item.estado_del_contribuyente }}</td>
        <td>{{ item.condicion_de_domicilio }}</td>
      </tr>
{% endfor %}
    </tbody>
  </table>

